/* colors used for backgrounds */
/*fonts*/
/* colors used for backgrounds */
/*fonts*/
/* class grey-upper-sans */
.grey-upper-sans {
  color: #A69594;
  text-transform: uppercase;
  font-family: "Roboto", "Helvetica Neue", sans-serif; }

.grey-upper-sans span {
  color: black;
  text-transform: lowercase;
  font-style: italic; }

/* class grey-upper-serif */
.grey-upper-serif {
  color: #A69594;
  text-transform: uppercase;
  font-family: "Playfair Display", serif; }

/* class grey-italic-sans */
.grey-italic-sans {
  color: #A69594;
  font-style: italic;
  font-family: "Roboto", "Helvetica Neue", sans-serif; }

/* class grey-upper-serif */
.grey-upper-serif {
  color: #A69594;
  font-style: italic;
  font-family: "Playfair Display", serif; }

/* class blue-italic-sans */
.blue-italic-sans {
  color: #1D66B1;
  font-style: italic;
  font-family: "Roboto", "Helvetica Neue", sans-serif; }

/* class blue-italic-serif */
.blue-italic-serif {
  color: #1D66B1;
  font-style: italic;
  font-family: "Playfair Display", serif;
  font-size: 16px; }

/* class blue-serif */
.blue-serif {
  color: #1D66B1;
  font-family: "Playfair Display", serif; }

/* class blue-uppefblrcase-serif */
.blue-uppercase-serif {
  color: #1D66B1;
  font-family: "Playfair Display", serif;
  text-transform: uppercase; }

.blue-sans {
  color: #1D66B1;
  font-family: "Roboto", "Helvetica Neue", sans-serif; }

/* class red-sans */
.red-sans {
  color: #E31B41;
  font-family: "Roboto", "Helvetica Neue", sans-serif; }

/* black-serif-italic*/
.black-serif {
  color: black;
  font-family: "Playfair Display", serif; }

/* black-serif-italic*/
.black-italic-serif {
  color: black;
  font-family: "Playfair Display", serif;
  font-style: italic; }

/* black-uppercase-sans*/
.black-uppercase-sans {
  color: black;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 11px;
  text-transform: uppercase; }

.black-sans {
  color: black;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  padding-top: 3px; }

body {
  font-size: 12px; }

#top-header h4 {
  text-align: right;
  padding-top: 30px;
  display: block; }

.pytanie {
  background-color: white;
  padding-right: 15px; }
  .pytanie .profile-box {
    text-align: center;
    background-color: #DFF3FD;
    min-height: 80px; }
    .pytanie .profile-box img {
      max-width: 60px;
      padding-top: 10px; }
  .pytanie #question {
    background-color: #DFF3FD;
    height: 80px;
    text-align: left;
    padding-top: 10px; }
  .pytanie .following {
    min-height: 80px;
    padding-top: 30px;
    background-color: #DFF3FD; }
  .pytanie .second-row {
    min-height: 100px; }
  .pytanie .blue-column {
    background-color: #DFF3FD;
    height: 100px; }
  .pytanie #text-area {
    text-align: left;
    height: 100px;
    padding-top: 30px;
    padding-left: 30px; }
  .pytanie .votes-count {
    padding-top: 40px; }
  .pytanie .voting {
    text-align: center; }
    .pytanie .voting img {
      max-width: 20px;
      padding-top: 0px;
      margin-left: -10px; }
    .pytanie .voting .up {
      padding-top: 30px;
      padding-bottom: 5px; }

#peers {
  height: 60px;
  background-color: #FCFCFC;
  margin-left: -30px;
  padding-left: -20px; }

.white-line {
  min-height: 100px; }

.answer .profile-picture, .answer #blank {
  background-color: white;
  margin-left: -15px;
  height: 100px; }
  .answer .profile-picture img, .answer #blank img {
    max-width: 40px;
    padding-top: 20px; }
.answer .text-area {
  text-align: left;
  height: 100px;
  padding-top: 30px;
  padding-left: 20px; }
.answer .votes-count {
  padding-top: 20px; }
.answer .voting {
  text-align: center; }
  .answer .voting img {
    max-width: 20px;
    padding-top: 0px;
    margin-left: -10px; }
  .answer .voting .up {
    padding-top: 30px;
    padding-bottom: 5px; }
.answer #blank {
  background-color: #FCFCFC; }
.answer .col-md-7, .answer .col-md-5 {
  text-align: left; }

/* global */
#vote-up-3, #vote-down-3 {
  margin-left: 20px; }

/* -- - - - - - - - */
.square-button {
  margin-left: 40%;
  margin-top: 245px;
  text-align: center;
  z-index: 9999;
  position: absolute;
  border: 1px solid #A69594;
  background-color: white;
  width: 180px;
  height: 24px; }

.sqr {
  margin-top: 90px; }

#content {
  padding-bottom: 50px; }

/*# sourceMappingURL=style-single.css.map */
